*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaa2e1;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #f3efec;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px); 
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;      
}

.equal{
    width: 115px;
    border-radius: 48px;
    background-color: #ecf0f3 ;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(0,0,0,.16);
}
button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #ecf0f3;
    font-family: inherit;
    border: none;
    margin: 8px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }